@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: url(../img/extras/fondo.jpg);
}

.containerS{
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.lado{
    height: 300px;
    width: 300px;
    animation: girar 4s linear infinite;
    position: absolute;
    opacity: 0.9;
    cursor: pointer;    
}

@keyframes girar{
    from{
        transform: rotateY(360deg) translateZ(150px); 
        z-index: 10;       
    }
    50%{
        z-index: -10;
    } 
    
to{
    transform: rotateY(0) translateZ(150px);
    z-index: 10;
}
}

#lado4{
    background-size: cover;
    background-position: center;
}
#lado4:hover{
webkit-box-shadow: 0px 0px 27px 0px rgba(255,0,0,1);
moz-box-shadow: 0px 0px 27px 0px rgba(255,0,0,1);
box-shadow: 0px 0px 27px 0px rgba(255,0,0,1);
}

#lado3{
    background-size: cover;
    background-position: center;
    animation-delay: -1s;
}
#lado3:hover{
    webkit-box-shadow: 0px 0px 27px 0px rgb(195, 0, 255);
    moz-box-shadow: 0px 0px 27px 0px rgb(195, 0, 255);
    box-shadow: 0px 0px 27px 0px rgba(195, 0, 255);
    }

#lado2{
    background-size: cover;
    background-position: center;
    animation-delay: -2s;
}
#lado2:hover{
    webkit-box-shadow: 0px 0px 27px 0px rgb(0, 8, 255);
    moz-box-shadow: 0px 0px 27px 0px rgba(0, 8, 255);
    box-shadow: 0px 0px 27px 0px rgba(0, 8, 255);
    }

#lado1{
    background-size: cover;
    background-position: center;
    animation-delay: -3s;
    position: absolute;
}
#lado1:hover{
    webkit-box-shadow: 0px 0px 27px 0px rgb(109, 109, 109);
    moz-box-shadow: 0px 0px 27px 0px rgba(109, 109, 109);
    box-shadow: 0px 0px 27px 0px rgba(109, 109, 109);
    }


/*fin del cubo*/
.bg-sena{
    background: linear-gradient(267deg, #001aff 39.78%, #a200ff 52.42%);
}

nav{
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

#nosotros{
    width: 100%;
    position: relative;
    padding: 80px 0;
}

#nosotros img{
    width: 500px;
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

#nosotros h1{
    color: #232323;
    padding-top: 50px;
    font-size: 50px;
    border-bottom: 2px solid darkorange;
    display: inline-block;
    margin-bottom: 60px;
}

#nosotros  a{    
    text-decoration: none; 
    color: black;  
}


#servicio h2{
    color: #454545;
    font-size: 36px;
    border-bottom: 2px solid darkorange;
    display: inline-block;
    margin-bottom: 80px;
}

#servicio h2 span{
    font-size: 54px;
}

#contacto{
    width: 100%;
    position: relative;
    padding: 80px 0;
    
}

footer{
    background: #232323;
    color: darkorange;
    padding: 40px;
    text-align: center;
}



#preguntas-frecuentes{
    width: 100%;
    position: relative;
    padding: 60px 0;
}

#preguntas-frecuentes .p-left{
    padding-left: 60px;
}

#preguntas-frecuentes h2{
    color: #000000;
    margin-bottom: 20px;
}


#mision{
    width: 100%;
    position: relative;
    padding: 220px 0;
    background: url("../img/extras/fondotext.jpg");
    background-size: cover;
    background-position: center;
}

#mision h2{
    color: white;
    text-align: center;
    padding: 0 50px;
    font-style: italic;
}
/*booton*/
button{
    background: rgba(98, 0, 255, 0.423);
    cursor: pointer;
    border: none; 
    padding: 16px 32px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 10px;
  }
  
  button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
    width: 100%;
    height:100%;
    background: linear-gradient( 60deg,
   #747474, #1100ff, #7b00ff, #E82E20);
    background-size: 900%;
    border-radius: 10px;
    filter: blur(12px);
    animation: glowing 20s linear infinite;
  }
  
  @keyframes glowing{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 400% 0;
    }
    100%{
      background-position: 0 0;
    }
  }
  

  /*redes sociales*/
  .social-bar{
    width: 50px;
    height: 250px;
    float: left;
    z-index: 10;
    margin-top: 200px;
    position: fixed;
}

.icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.fa-brands{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.facebook{
   background: rgb(0, 0, 255);
}

.x-twitter{
    background: rgb(0, 0, 0);
}

.whatsapp{
    background: rgb(16, 179, 16);
}

.youtube{
    background: rgb(255, 3, 3);
}

.instagram{
    background: rgb(132, 0, 255);
}
.icon:hover{
    width: 60px;
    opacity: .45;
}

/*parte inferior*/
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 2rem;
}
.col .logo{
    width: 100px;
    margin-bottom:25px;
}
.col h3{
    color:rgb(0, 0, 0);
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}
.col h3:hover::after{
    width:30px
}
.col .social a i{
    color:rgb(0, 0, 0);
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:rgb(255, 1, 1);
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col .contact-details i{
    margin-right:15px;
}
.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
}
.row .form input{
    background-color: rgb(255, 255, 255);
    border:0;
    outline:none;
    padding:14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form button{
    padding:14px 20px;
    border:0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/********** Responsive Design ********/
@media(max-width:900px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media(max-width:768px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}

/*caruosel 2*/
.content-all{
    width: 210px;
    margin: auto;
    perspective: 800px;
    position: relative;
    margin-top: 50px;
}

.content-carrousel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}


.content-carrousel figure{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
    
}

.content-carrousel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
.content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
.content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
.content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
.content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
.content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
.content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
.content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
.content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
.content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}


.content-carrousel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}


@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

/*comentarios*/
.contenedor-comentarios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.contenedor-comentarios img {
    width: 100%;
}

.area-comentar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1.5rem;
    padding: 18px;
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    border-radius: 12px;
}

.comentarios-usuarios {
    width: calc(100% - 2.5rem);
}

.contenedor-comentarios a {
    text-decoration: none;
}

.comentar-publicacion .avatar,
.publicacion-realizada .usuario-publico .avatar,
.contenedor-comentarios .comentario-principal-usuario .avatar,
.area-comentar .avatar {
    display: flex;
    width: 65px;
    height: 65px;
    background-color: #F4F4F4;
    border-radius: 50%;
    overflow: hidden;
}
.comentarios-usuarios .nombre-usuario {
    font-weight: bold;
    margin-right: .5rem;
    color: inherit;
}
/* botones comentar */
.boton-subir-archivo {
    position: relative;
    display: inline-block;
}

.boton-subir-archivo input[type="file"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.boton-file,
.boton-enviar {
    display: inline-block;
    border: 0;
    padding: 7px 15px;
    margin-right: .5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color ease-in 200ms;
}

.boton-file:hover,
.boton-enviar:hover {
    background-color: #4C6FA7;
}

/* fin */
.contenedor-comentarios .comentario-principal-usuario .comentario,
.area-comentar .inputs-comentarios {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: .5rem;
}

.area-comentar .inputs-comentarios {
    margin-left: 1rem;
}

.contenedor-comentarios .comentario-principal-usuario .texto,
.area-comentar .inputs-comentarios .area-comentario {
    border: 0;
    background-color: #F0F0F0;
    display: block;
    width: 100%;
    border-radius: 12px;
    margin-bottom: .5rem;
}

.botones-comentario span.tiempo-comentario {
    font-size: 0.8rem !important;
    color: #9F9F9F;
    margin-left: .25rem;
}

.area-comentar .inputs-comentarios .area-comentario {
    padding: 12px 15px;
}

.area-comentar .inputs-comentarios .botones-comentar {
    display: flex;
}

/* comentarios de usuario */
.comentarios-usuarios .comentario-principal-usuario {
    display: flex;
    flex-wrap: wrap;
}

.comentarios-usuarios .usuario-comentario {
    width: 100%;
    display: block;
    margin-bottom: 0.75rem;
    position: relative;
}

.menu-comentario {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #E9E9E9;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.comentarios-usuarios .usuario-comentario .menu-comentario {
    top: 5px;
    right: -15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.comentarios-usuarios .usuario-comentario:hover .menu-comentario {
    display: flex;
}

.publicacion-realizada .menu-comentario {
    display: flex;
    right: 0;
}

.menu-comentario .menu {
    list-style: none;
    position: absolute;
    right: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 200ms;
}

.menu-comentario:hover .menu {
    opacity: 1;
    visibility: visible;
}

.menu-comentario .menu a {
    display: block;
    padding: 7px 15px;
    color: inherit;
}

.menu-comentario .menu a:hover {
    background-color: #E1E1E1;
}

.publicacion-realizada .usuario-publico .avatar,
.comentarios-usuarios .comentario-principal-usuario .avatar {
    width: 45px;
    height: 45px;
}

.comentarios-usuarios .comentario-principal-usuario .texto {
    padding: 10px 15px;
    width: auto;
    display: inline-block;
    max-width: 100%;
    margin-bottom: .25rem;
    font-size: 0.9rem;
    position: relative;
    padding-right: 1.65rem;
}

.comentarios-usuarios .comentario-principal-usuario .comentar-comentario {
    width: 100%;
    display: flex;
}

.comentarios-usuarios .comentar-publicacion input[type="text"] {
    border: 0;
    background-color: #E1E1E1;
    flex-grow: 1;
    flex-basis: 0;
    padding: 8px 10px;
    font-size: .9rem;
    border-radius: 8px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.botones-comentario {
    display: block;
}

.botones-comentario button {
    display: inline-block;
    border: 0;
    padding: 3px 8px;
    font-size: .8rem;
    border-radius: 8px;
    cursor: pointer;
}

.botones-comentario button:hover {
    background-color: #D5D8E1;
}

.comentar-publicacion .avatar,
.contenedor-sub-comentarios .comentario-principal-usuario .avatar {
    width: 32px;
    height: 32px;
}

.boton-enviar i,
.boton-file i,
.boton-puntuar i,
.boton-responder i {
    margin-right: .5rem;
}

/* publicacion realizada */
.publicacion-realizada {
    margin-bottom: 1.5rem;
}

.publicacion-realizada .usuario-publico {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: .5rem;
    position: relative;
}

.publicacion-realizada .usuario-publico .contenido-publicacion {
    margin-left: 1rem;
}

.comentar-publicacion {
    display: flex;
    width: 100%;
}

.comentar-publicacion .comentar-comentario {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
}

.publicacion-realizada p {
    margin-bottom: 0.5rem;
    font-size: 0.9em;
}

.archivo-publicado img {
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.publicacion-realizada .contenido-publicacion ul {
    list-style: none;
    font-size: 0.8em;
    color: #909090;
}

/*chat*/
.panel-chat-usuarios {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 370px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.panel-chat-usuarios  a {
    color: inherit;
    text-decoration: none;
}
.panel-chat-usuarios .panel-chat-header {
    display: flex;
    justify-content: flex-end;
    background-color: #8555FF;
    padding: 10px 15px;
}
.botones-ajuntar .boton,
.panel-chat-usuarios .panel-chat-header .botones-chat {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: #6C43D5;
    color: #fff;
}
.panel-chat-usuarios .panel-chat-header .botones-chat:hover {
    background-color: #603BBE;
}

/* datos de usuario */
.panel-chat-usuarios .panel-chat-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.panel-chat-usuarios .panel-chat-datos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #DADADA;
    background-color: #fff;
}

.panel-chat-usuarios .panel-chat-datos .chat-avatar {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #D6D6D6;
    border-radius: 50%;
    margin-right: 1rem;
    position: relative;
}

.panel-chat-usuarios .panel-chat-datos .chat-avatar img {
    width: 100%;
    border-radius: 50%;
}

.panel-chat-usuarios .estado-usuario {
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    background-color: #50FF65;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 1;
    bottom: -1px;
    left: -1px;
}

.panel-chat-usuarios .panel-chat-datos h5 {
    font-size: 1rem;
    margin-bottom: 0.1rem;
}
.panel-chat-usuarios .panel-chat-datos p {
    margin-bottom: 0;
    font-size: 0.9rem;
    color: #8B8B8B;
}

/* cuerpo del chat */
.panel-chat-usuarios .panel-chat-body {
    display: block;
    padding: 15px 0;
    flex-wrap: wrap;
    height: 365px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* chat */
.panel-chat-usuarios .panel-msj-der,
.panel-chat-usuarios .panel-msj-izq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}
.panel-chat-usuarios .panel-msj-der {
    align-items: flex-end;
}
.panel-chat-usuarios .panel-msj-der .chat-cuerpo,
.panel-chat-usuarios .panel-msj-izq .chat-cuerpo {
    background-color: #96B4FF;
    width: auto;
    max-width: 85%;
    margin-left: 1rem;
    border-radius: 0 20px 20px 20px;
    padding: 10px 15px;
    position: relative;
    font-size: .9em;
}
.panel-chat-usuarios .panel-msj-der .chat-cuerpo {
    margin-left: 0;
    margin-right: 1rem;
    border-radius: 20px 0 20px 20px;
    background-color: #D4D4D4;
}
.panel-chat-usuarios .panel-msj-der .chat-cuerpo::before,
.panel-chat-usuarios .panel-msj-izq .chat-cuerpo::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent;
    border-style: solid;
    position: absolute;
    top: 0;
}
.panel-chat-usuarios .panel-msj-izq .chat-cuerpo::before {
    left: -20px;
    border-right-color: #96B4FF;
}
.panel-chat-usuarios .panel-msj-der .chat-cuerpo::before {
    right: -20px;
    border-left-color: #D4D4D4;
}
.panel-chat-usuarios .contenedor-msj {
    font-size: 1em;
    margin-bottom: 0.5rem;
}
.panel-chat-usuarios .contenedor-msj-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.panel-chat-usuarios .contenedor-msj-footer .botones-footer {
    display: flex;
    list-style: none;
    font-size: 0.85rem;
    color: #fff;
}
.panel-chat-usuarios .contenedor-msj-footer .botones-footer li {
    margin-right: 1rem;
}

/* footer chat */
.panel-chat-usuarios .panel-chat-footer {
    display: block;
    padding: 15px 10px;
    background-color: #fff;
    position: relative;
    border-top: 1px solid #DADADA;
}
.panel-chat-usuarios .panel-chat-footer .texto-chat {
    display: block;
    width: 100%;
    height: 70px;
    border: 0;
    background-color: #E5E5E5;
    border-radius: 15px;
    padding: 15px;
    padding-right: 70px;
    color: #000000;
}

.panel-chat-usuarios .botones-ajuntar {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 1;
}
.botones-ajuntar .boton {
    background-color: #C7C7C7;
    color: #000000;
}

/*servicios*/
.container .card{
    position: relative;
    background-color: #ffffff00;
    border: #ffffff00;
  }
  
  .container .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  
  .container .card .face.face1{
    position: relative;
    background: url(../img/c-pro/8.jpg);
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #f0f,
      10px 0 80px #0ff;
     
  }
  
  
  .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
  }
  
  .container .card:hover .face.face1 .content{
    opacity: 1;
  }
  
  .container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
  }
  
  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .container .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#000000;
  }
  
  .container .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #000000;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  
  .container .card .face.face2 .content a:hover{
    background: #000000 ;
    color: rgb(255, 255, 255); 
    box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
  }
  